<section class="section-maison">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">En savoir plus</h2>
            </div>
        </div>
        <br>
        <div class="row">
            {% if page.layout != 'front' %}
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <a href="https://www.facebook.com/{{ site.facebook }}">
                    <i class="fa fa-facebook-official fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.instagram }}</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <a href="https://www.instagram.com/{{ site.instagram }}">
                    <i class="fa fa-instagram fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.instagram }}</p>
                </a>
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-square fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            {% endif %}

            {% if page.layout == 'front' %}
            <div class="col-sm-4 text-center">
                <a href="https://www.facebook.com/{{ site.facebook }}">
                    <i class="fa fa-facebook-official fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.instagram }}</p>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="https://www.instagram.com/{{ site.instagram }}">
                    <i class="fa fa-instagram fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.instagram }}</p>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a href="mailto:{{ site.email }}">
                <i class="fa fa-envelope-square fa-2x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</section>
