<section class="no-padding">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4 col-md-4">
                <img src="img/portfolio/home/1.jpg" class="img-responsive" alt="Terrasse plein sud">
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <img src="img/portfolio/home/2.jpg" class="img-responsive" alt="Piscine">
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <img src="img/portfolio/home/3.jpg" class="img-responsive" alt="Terrasse pour se prélasser">
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-4 col-md-4">
                <img src="img/portfolio/home/4.jpg" class="img-responsive" alt="Cuisine d’été">
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <img src="img/portfolio/home/5.jpg" class="img-responsive" alt="Cerisiers en fleur">
            </div>
            <div class="col-lg-4 col-sm-4 col-md-4">
                <img src="img/portfolio/home/6.jpg" class="img-responsive" alt="Jardin sauvage"> 
            </div>
        </div>
    </div>
</section>
