<section class="no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/home/1.jpg" class="img-thumbnail" alt="Terrasse plein sud">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/home/2.jpg" class="img-thumbnail" alt="Piscine">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/home/3.jpg" class="img-thumbnail" alt="Terrasse pour se prélasser">
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/home/4.jpg" class="img-thumbnail" alt="Cuisine d’été">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/home/5.jpg" class="img-thumbnail" alt="Cerisiers en fleur">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/home/6.jpg" class="img-thumbnail" alt="Jardin sauvage"> 
            </div>
        </div>
    </div>
</section>
