---
layout: compress
---

<!DOCTYPE html>
<html lang="fr">

{% include head.html %}

<body>
  {% include nav.html %}
  {% include header_reservation.html %}
  <section class="section-reservation">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading">Calendrier de réservation</h2>
            <p>Maison de famille, en location uniquement pendant les mois de juin, juillet et août.</p>
            <br>
            <iframe src="https://www.google.com/calendar/embed?mode=month&dates=20190601%2F20190831&showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=250&amp;wkst=7&amp;bgcolor=%23FFFFFF&amp;src=cabanondescerises%40gmail.com&amp;color=%230F4B38&amp;src=poooj9mpujjnshj2h5i1b174vk%40group.calendar.google.com&amp;color=%23711616&amp;ctz=Europe%2FParis" style=" border-width:0 " width="90%" height="250" frameborder="0" scrolling="no"></iframe>
            <p>Ménage de fin de séjour 130€ à régler sur place.</p>
            <p>Contact par email : <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row no-gutter">
          <div class="col-lg-4">
            <img src="img/portfolio/maison/8.jpg" class="img-responsive" alt="Cuisine">
          </div>
          <div class="col-lg-4">
              <img src="img/portfolio/maison/7.jpg" class="img-responsive" alt="Salon">
            </div>
          <div class="col-lg-4">
            <img src="img/portfolio/maison/9.jpg" class="img-responsive" alt="Salon depuis la cuisine">
          </div>
      </div>
    </div>

    <br>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>La maison se trouve à 3km du village, au milieu des cerisiers et des vignes, et permet d’héberger jusqu’à 8 personnes, 5 couchages.</p>
          <p>Mas de 107 m2, entièrement rénovée en 2012.</p>
          <p>Piscine de 5 x 10 mètres, chauffée par panneaux solaires.</p>
          <p>Haut débit par satellite, illimité. Réseau WiFi haut débit MIMO.</p>
          <p>Emplacements pour 2 à 3 voitures.</p>
          <p>Terrasse couverte.</p>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="row">
          <div class="col-lg-12">
            <h2 class="section-heading">Descriptif du Cabanon des Cerises</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <h2>Maison principale</h2>
          <p><b>Rez-de-chaussée :</b></p>
          <p>Séjour de 20 m2 qui communique avec une cuisine moderne et fonctionnelle.</p>
          <p>Équipement de la cuisine : réfrigérateur, congélateur, plaque de cuisson à induction, four/grill, lave-
              vaiselle, hotte, grille-pain...</p>
          <p>Table pour 8 personnes située dans la cuisine.</p>
          <p>Accès à la terrasse et à la piscine.</p>
          <br>
          <p><b>1er étage :</b></p>
          <p>1 chambre avec un lit double 140x190.</p>
          <p>1 suite avec un lit double 160x200 et salle d’eau : douche, lavabo double, sèche-cheveux et WC indépendants.</p>
        </div>

        <div class="col-lg-4">
          <h2>Indépendance</h2>
          <p>1 chambre avec un lit double de 160x200.</p>
          <p>1 chambre avec deux lits simples 80x190.</p>
          <p>Salle d’eau : douche, lavabo double, sèche-cheveux et WC.</p>
        </div>

        <div class="col-lg-4">
            <h2>Extérieur</h2>
            <p>Une cuisine d’été avec grande table pour 8/10 personnes, évier et barbecue Weber à gaz, gaz fourni.</p>
            <p>Un auvent reliant les 2 parties du Cabanon avec une grande terrasse et à l’entrée un patio fermant à clé.</p>
            <p>Une douche avec eau mitigée.</p>
          </div>
      </div>
    </div>

    <br>

    <div class="container-fluid">
      <div class="row no-gutter">
          <div class="col-lg-4">
            <img src="img/portfolio/maison/5.jpg" class="img-responsive" alt="Chambre maison">
          </div>
          <div class="col-lg-4">
            <img src="img/portfolio/maison/4.jpg" class="img-responsive" alt="Salle de bains maison">
          </div>
          <div class="col-lg-4">
            <img src="img/portfolio/maison/6.jpg" class="img-responsive" alt="Chambre parentale">
          </div>
      </div>
    </div>
  
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/maison/2.jpg" class="img-responsive" alt="Chambre enfants dépendance">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/maison/1.jpg" class="img-responsive" alt="Chambre parentale dépendance">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/maison/3.jpg" class="img-responsive" alt="Salle de bains dépendance">
            </div>
        </div>
    </div>
  </section>
  {% include scripts.html %}
</body>

</html>